body { 
  background: url(https://cdn.wallpapersafari.com/18/21/gLJ0Qi.jpg) 
  no-repeat center center fixed; 
 
  background-size: cover;
}
a{
  
 text-align: center;
 text-decoration: none;
 border:solid blue;
 padding: 5px 10px;
 border-radius: 9px;
 font-family: sans-serif;

  
}
.natpis{
	text-align: center;
  padding-top: 300px;
  color: white;
  text-shadow: 2px 2px black;
  font-family: sans-serif;



}