
.top{
	background-color: lightgray;
	/*margin-right: 10px;
	margin-left: 10px;*/
}


.textot {
    /*position: relative;*/
    
  color:white;
  text-align: center;
  padding-top: 200px;
  text-shadow: 3px 3px black;
  font-family: sans-serif;



}


.prvo{

		/*background-color: lightgray;*/
		height: 200px;
		



	}

.treto{
	
		height: 100px;
		



}
.slika1{
	
	height: 300px;
	


}
.slika2{
	
	height: 300px;

}
.slika3{
	
	height: 300px;
	

}
.cetvrto{
	
		height: 300px;
		


}
.kont{
	margin-top: 200px;
	

}
.tekst{
	
	height: 400px;
	


}
.forma{

	height: 400px;
	background-color: #008B8B;
	border-radius: 10px;
	margin-bottom: 10px;


}
.footer {
   background-color: black;
   height: 80px;
   color: white;
   
}
.ime{
	margin-top: 30px;
}
/*.avatar{
	margin-top: 30px;
}*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.tii{
	margin-top: 50px;
}
hr{
	color: red;


}
